:root {
  --clr-primary-red: hsl(0, 78%, 62%);
  --clr-primary-cyan: hsl(180, 62%, 55%);
  --clr-primary-orange: hsl(34, 97%, 64%);
  --clr-primary-blue: hsl(212, 86%, 64%);
  --clr-neutral-700: hsl(234, 12%, 34%);
  --clr-neutral-600: hsl(229, 6%, 66%);
  --clr-neutral-100: hsl(0, 0%, 98%);

  --fs-default: 0.9375rem;

  --ff-base: "Poppins", sans-serif;

  --fw-light: 200;
  --fw-regular: 400;
  --fw-bold: 600;
}

/* Use a more-intuitive box-sizing model */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Reduce line-height for large text */
h1,
h2 {
  line-height: 1.1;
}

/* Make images responsive */
img,
picture,
svg,
video {
  max-width: 100%;
  display: block;
}

/* General/Generic */
body {
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-600);
  line-height: 1.5;
  font-size: var(--ff-base);
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  margin: 1.5rem;

  min-height: 100svh;
  display: grid;
  justify-content: center;
  align-items: start;
}

/* Product */
.product {
  --content-spacing: 4.5rem;
  --content-padding: 1rem;
  --fs-title: 1.62rem;

  display: grid;
  gap: var(--content-spacing);
}

header {
  text-align: center;
}

/* Typography */
.product__perks {
  color: var(--clr-neutral-700);
  font-size: var(--fs-title);
  font-weight: var(--fw-light);
  margin-bottom: 0.15em;
}

.product__title {
  color: var(--clr-neutral-700);
  font-size: var(--fs-title);
  font-weight: var(--fw-bold);
  margin-bottom: 1em;
}

.product__features {
  --feature-spacing: 1rem;

  list-style: none;
  display: grid;
  gap: var(--feature-spacing);
}

.feature-item {
  background-color: white;
}

.feature-name {
  color: var(--clr-neutral-700);
  font-weight: var(--fw-bold);
  font-size: 1.3rem;
}

/* Modifier classes */
.feature--supervisor {
  border-top: 0.2rem solid var(--clr-primary-cyan);
}
.feature--team-builder {
  border-top: 0.2rem solid var(--clr-primary-red);
}
.feature--karma {
  border-top: 0.2rem solid var(--clr-primary-orange);
}
.feature--calculator {
  border-top: 0.2rem solid var(--clr-primary-blue);
}

@media (min-width: 65em) {
  .content {
    height: 100vh;
    display: grid;
    place-items: center;
  }

  .container {
    display: grid;
    max-width: 65rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.5rem;
    margin: 2rem auto;
  }

  .card {
    max-width: 20em;
    min-height: 15em;
    margin: 0;
  }

  .card:first-child {
    text-align: center;
    grid-column: span 3;
    max-width: 100%;
  }

  .card:not(:first-child) {
    margin-bottom: 0;
    line-height: 1.7;
  }

  .card img {
    width: 4rem;
  }

  .card p {
    font-size: 0.8rem;
  }

  .card h3 {
    font-size: 1.3em;
  }

  .title-card h1 {
    font-size: 2.5em;
  }

  .title-card h2 {
    font-size: 2.5em;
  }

  .title-card > p {
    display: inline-block;
    font-size: 1em;
    width: 34em;
  }

  .supervisor-card {
    position: relative;
    top: 8rem;
  }

  .team-card {
    grid-area: 2 / 2 / 3 / 3;
  }

  .team-card > p {
    width: 20em;
  }

  .karma-card {
    grid-area: 3 / 2 / 4 / 3;
  }

  .calculator-card {
    position: relative;
    top: 8rem;
  }
}
