:root {
  --clr-primary-red: hsl(0, 78%, 62%);
  --clr-primary-cyan: hsl(180, 62%, 55%);
  --clr-primary-orange: hsl(34, 97%, 64%);
  --clr-primary-blue: hsl(212, 86%, 64%);
  --clr-neutral-700: hsl(234, 12%, 34%);
  --clr-neutral-600: hsl(229, 6%, 66%);
  --clr-neutral-100: hsl(0, 0%, 98%);

  --fs-default: 0.9375rem;

  --ff-base: "Poppins", sans-serif;

  --fw-light: 200;
  --fw-regular: 400;
  --fw-bold: 600;
}

/* Use a more-intuitive box-sizing model */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Reduce line-height for large text */
h1,
h2 {
  line-height: 1.1;
}

/* Make images responsive */
img,
picture,
svg,
video {
  max-width: 100%;
  display: block;
}

/* General/Generic */
body {
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-600);
  line-height: 1.5;
  font-size: var(--ff-base);
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  margin: 1.5rem;

  min-height: 100svh;
  display: grid;
  justify-content: center;
  align-items: start;
}

/* Product */
.product {
  --content-spacing: 4.5rem;
  --fs-title: 1.6rem;

  display: grid;
  gap: var(--content-spacing);
}

/* Header */
header {
  text-align: center;
}

.product__perks {
  color: var(--clr-neutral-700);
  font-size: var(--fs-title);
  font-weight: var(--fw-light);
  margin-bottom: 0.15em;
}

.product__title {
  color: var(--clr-neutral-700);
  font-size: var(--fs-title);
  font-weight: var(--fw-bold);
  margin-bottom: 1em;
}

/* Features */
.product__features {
  --feature-spacing: 1.5rem;
  --feature-padding: 2rem;

  list-style: none;
  display: grid;
  gap: var(--feature-spacing);
}

.feature-item {
  background-color: white;
  padding: var(--feature-padding);
  border-radius: 0.25rem;
  box-shadow: 0 0 1rem 0.2rem rgba(0, 0, 0, 0.1);

  display: grid;
  gap: 0.5rem;
}

.feature-item[data-icon="feature-supervisor"]::after {
  content: "";
  background-image: url("./images/icon-supervisor.svg");
  width: 64px;
  height: 64px;
  margin-left: auto;
}

.feature-item > p {
  font-size: 0.8rem;
}

.feature-name {
  color: var(--clr-neutral-700);
  font-weight: var(--fw-bold);
  font-size: 1.3rem;
}

/* Modifier classes */
.feature--supervisor {
  border-top: 0.2rem solid var(--clr-primary-cyan);
}
.feature--team-builder {
  border-top: 0.2rem solid var(--clr-primary-red);
}
.feature--karma {
  border-top: 0.2rem solid var(--clr-primary-orange);
}
.feature--calculator {
  border-top: 0.2rem solid var(--clr-primary-blue);
}
